.table-reporting{
	.table-reporting-title{
		font-weight: bold;
		font-size: 15px;
	}

	.table-reporting-big{
		font-size: 22px;
		color: rgb(97, 97, 97);
	}

	.table-reporting-value{
		padding-bottom: 22px;
	}

	.table-reporting-increase{
		color: rgb(56, 142, 60);
	}

	.table-reporting-decrease{
		color: rgb(244, 67, 54);
	}

	.table-reporting-up-icon,
	.table-reporting-down-icon{
		font-size: 14px;
	}
}

.divTable{
	display: table;
	width: 100%;

	.divTableRow {
		display: table-row;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
	}
	.divTableCell, .divTableHead {
		/* border: 1px solid #999999; */
		display: table-cell;
		padding: 10px 10px 15px 0;
	}
	.divTableHeading {
		background-color: #EEE;
		display: table-header-group;
		font-weight: bold;
	}
	.divTableFoot {
		background-color: #EEE;
		display: table-footer-group;
		font-weight: bold;
	}
	.divTableBody {
		display: table-row-group;
	}
}