.table-source-reporting-api{
	div{
		padding: 0;
	}

	table{
		th, td{
			padding: 6px 8px;
		}
		th{
			background-color: rgb(66, 133, 244);
			color: #FFFFFF;
		}
	}
}

.table-source-reporting-api-select{
	div{
		padding: 0;
	}

	table{
		th, td{
			padding: 6px 8px;
		}
		th{
			background-color: rgb(66, 133, 244);
			color: #FFFFFF;
		}
		tr{
			cursor: pointer;
		}
		//tr[class*="TableSelectRow-selected"] td{
		//	font-weight: 700
		//}
	}
}