body{
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.menu-link{
	padding: 12px;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.menu-link:hover{
	background: aliceblue;
}

.block{
	padding: 20px;
	background: rgb(250, 250, 251);
}

.text-headline{
	font-size: 15px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.54);
	margin-bottom: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.toast-success-main{
	background:#5cb85c!important;
}

.toast-success-body{
	color:#ffffff;
}

.toast-error-main{
	background:red;
}

.maps text{
	font-size: 20px;
}

.table-variant table{
	border: 1px solid rgba(0,0,0,0.1);
	border-spacing: inherit;
}

.table-variant table th{
	padding: 10px 13px 10px 10px;
	text-align: left;
}

.table-variant table td{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.table-variant thead{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
}

.tree-mind{
	height: 100%
}

button::-moz-focus-inner {
  border: 0;
}

.tree-item-root:focus{
	.tree-item-content{
		background-color: #FFFFFF!important
	}
}

.autocomplete-select-root{
	min-width: 200px;
	width: 100%;
	display: inline-block;

	.autocomplete-select-text-field{
		.MuiInputBase-root{
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.autocomplete-select-text-field{
		label{
			top: -8px;
		}
	}
}

.shadow{
	-webkit-box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
}

.border-grey{
	border: 1px solid rgb(211, 211, 211);
	padding-top: 20px;
}

.padding-for-blocks{
	padding: 10px 5px;
}

.loading{
	opacity: 0.3;
}

.form-control-checkbox{
	.MuiFormControlLabel-label{
		font-size:14px;
	}
}

.calls-filter-block{
	display: inline-block;
	width: 100%;
	position:relative;
	margin-bottom:10px;

	.picky.multi-select-calls{
		width: 100%;
	}

	.multi-select-calls-button{
		display: inline-block;
	}
}

.calls-filter-block > div{
	width: 70%;
	display: inline-block;
	margin-right:20px;
}

.drag-me{
	cursor: grabbing;
}

.default-profile{
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	padding: 0 10px;
	.title{
		font-weight: 700;
		font-size: 14px;
		display: inline-block;
		margin-right: 10px;
	}

	.default{
		background-color: #4285f4;
		color: #fff;
		display: inline-block;
		padding: 6px;
		min-width: 90px;
		text-align: center;
		font-size: 14px;
		margin: 8px 30px 8px 0;
	}

	.current{
		display:inline-block;
		padding: 8px 8px 8px 0;
		margin-right: 16px;
		font-size: 14px;
	}
	.prof-button{
		margin-bottom: 6px;
		margin-top: 7px;
		float: right;
	}
}