.map-marker{
	position: absolute;
	display: inline-block;
	margin-top: 50%;
  text-align: center;

  .map-marker-text{
		display: inline-block;
		background: #FFFFFF;
		padding: 5px;
		overflow-y: auto;
		textAlign: center;
		border: 1px solid #A9A9A9;
		border-radius: 4px;
		white-space: nowrap;
	}

	.map-marker-img{
		width: 25px;
	}
}

.map-list-item-active{
	text-decoration: underline;
	background: #000000;
	color: #FFFFFF;
}

.map-list-item{
	cursor: pointer;
	margin: 10px 0;
}

.map-list-items-all-show{
	border: 1px solid;
	background: #FFFFFF;
	color: #000000;
	cursor: pointer;
	text-align: center;
	padding: 4px;
}