.multi-select-picky{
	#picky-list{
		z-index: 10000;
	}

	.picky__input{
		background-color: initial;
		border-color: #c4c4c4;
	}

	.picky__input span{
		font-size: 16px;
		color: #757575;
		position: relative;
		top: -4px;
		left: 8px;
	}

	.picky__input::after{
		border-top: 5px solid;
		border-right: 5px solid
		transparent;
		border-left: 5px solid
		transparent;
		color: #757575;
	}

	.picky__filter__input{
		font-size: 16px;
		padding-left: 10px;
	}

	input[type="checkbox"] {
	  position: absolute;
	  opacity: 0;
	  z-index: -1;
	}

	/* Text color for the label */
	input[type="checkbox"]+span {
	  cursor: pointer;
	  font: 16px sans-serif;
	  color: black;
	}

	/* Checkbox un-checked style */
	input[type="checkbox"]+span:before {
	  content: '';
	  border: 1px solid grey;
	  border-radius: 3px;
	  display: inline-block;
	  width: 16px;
	  height: 16px;
	  margin-right: 0.5em;
	  margin-top: 0.5em;
	  vertical-align: -2px;
	}

	/* Checked checkbox style (in this case the background is red) */
	input[type="checkbox"]:checked+span:before {
	  /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
	  background-image: url('/ios-checkmark.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	  /* The size of the checkmark icon, you may/may not need this */
	  background-size: 25px;
	  border-radius: 2px;
	  /* background-color: #e7ffba; */
	  color: white;
	}

	/* Adding a dotted border around the active tabbed-into checkbox */
	input[type="checkbox"]:focus+span:before,
	input[type="checkbox"]:not(:disabled)+span:hover:before {
	  /* Visible in the full-color space */
	  box-shadow: 0px 0px 0px 2px rgba(0, 150, 255, 1);

	  /* Visible in Windows high-contrast themes
	     box-shadow will be hidden in these modes and
	     transparency will not be hidden in high-contrast
	     thus box-shadow will not show but the outline will
	     providing accessibility */
	  outline-color: transparent; /*switch to transparent*/
	  outline-width: 2px;
	  outline-style: dotted;
	  }


	/* Disabled checkbox styles */
	input[type="checkbox"]:disabled+span {
	  cursor: default;
	  color: black;
	  opacity: 0.5;
	}
}