.reporting-page{
	.reporting-logo{
		width: 70px;
	}

	.reporting-title{
		display: inline-block;
		margin-left: 20px;
		font-size: 20px;
		position: relative;
		top: -25px;
	}

	.table-reporting-increase-icon{
		font-size: 10px;
	}
}